@import 'base';
@import 'resets';

/* ----------------------------------------------------------------------------- *\
   GLOBAL LAYOUT
\* ----------------------------------------------------------------------------- */

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: 100%;
}

body, main {
    height: 100%;
}

/* ----------------------------------------------------------------------------- *\
   GLOBAL TYPOGRAPHY
\* ----------------------------------------------------------------------------- */

html, .root {
    font-size: 16px;
    line-height: 21px;
}
body, .article {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.3125em;
}
.article {
    max-width: 560px;
    margin: auto;
}
h1, .h1 {
    font-size: 4.25em;
    line-height: 1.23529412em;
    margin-top: 0.30882353em;
    margin-bottom: 0.61764706em;
}
h2, .h2 {
    font-size: 2.625em;
    line-height: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h3, .h3 {
    font-size: 1.625em;
    line-height: 1.61538462em;
    margin-top: 0.80769231em;
    margin-bottom: 0em;
}
h4, .h4 {
    font-size: 1em;
    line-height: 1.3125em;
    margin-top: 1.3125em;
    margin-bottom: 0em;
}
h5, .h5 {
    font-size: 1em;
    line-height: 1.3125em;
    margin-top: 1.3125em;
    margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
    margin-top: 0em;
    margin-bottom: 1.3125em;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 1px solid;
    margin: -1px 0;
}
a, b, i, strong, em, small, code {
    line-height: 0;
}
sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

%a-shared {
    text-decoration: none;
    color: $color-primary;
}

a {
    @extend %a-shared;

    &:visited {
        @extend %a-shared;
    }
}

.icon {
    color: $color-text;

    &:hover {
        color: $color-text-hover;
    }
}

/* ----------------------------------------------------------------------------- *\
   APP
\* ----------------------------------------------------------------------------- */

#map_canvas {
    height: 100%;
    position: relative;
}

.map_controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    margin: 10px;

    &__toggle {
        position: relative;
        display: inline-block;
        background-color: white;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);
        @include transition;
        // transition-delay: 0.2s;
        overflow: visible;

        &> .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            font-size: 24px;
            @include transition;

            &.icon-layers {
                color: $color-avuxi;
                cursor: pointer;
            }

            &.icon-close {
                top: 5px;
                right: 5px;
                left: auto;
                transform: none;
                opacity: 0;
                visibility: hidden;
                z-index: 10;
                cursor: pointer;
            }
        }
    }

    &__btns {
        position: relative;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transform: scale3d(0.1,0.1,0.1);
        @include transition;
        transition-duration: 0s;
        transition-delay: 0s;
        min-width: 10rem;

        &__list {
            list-style: none;
            margin: 0;

            li {
                margin: 0.2rem;

                button {
                    font-size: 0.75rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $color-text-light;
                    
                    i {
                        font-size: 1rem;
                        vertical-align: text-bottom;
                        margin-right: 0.5rem;
                    }

                    &:hover {
                        color: $color-text-hover;

                        i {
                            color: $color-text-hover;
                        }
                    }
                    
                    &[data-active='true'] {
                        color: $color-avuxi;

                        i {
                            color: $color-avuxi;
                        }
                    }
                }
            }
        }
    }

    &[data-hover] {

        .map_controls {
            &__toggle {
                border-radius: 4px;
                width: 11rem;
                height: 10rem;

                i {
                    &.icon-close {
                        opacity: 1;
                        visibility: visible;
                    }

                    &.icon-layers {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            &__btns {
                transform: scale3d(1,1,1);
                opacity: 1;
                visibility: visible;
                transition-delay: 0.1s;
                transition-duration: 0.2s;
            }
        }
    }

    @include media('<md') {
        transform: scale3d(1.1,1.1,1) translate3d(-5%,5%,0);
    }
}
