@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?9o3rer');
  src:  url('#{$icomoon-font-path}/icomoon.eot?9o3rer#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?9o3rer') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?9o3rer') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?9o3rer#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-layers {
  &:before {
    content: $icon-layers;
  }
}
.icon-none {
  &:before {
    content: $icon-none;
  }
}
.icon-partying {
  &:before {
    content: $icon-partying;
  }
}
.icon-shopping {
  &:before {
    content: $icon-shopping;
  }
}
.icon-sights {
  &:before {
    content: $icon-sights;
  }
}
.icon-eating {
  &:before {
    content: $icon-eating;
  }
}

