@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9o3rer');
  src:  url('fonts/icomoon.eot?9o3rer#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9o3rer') format('truetype'),
    url('fonts/icomoon.woff?9o3rer') format('woff'),
    url('fonts/icomoon.svg?9o3rer#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e900";
}
.icon-layers:before {
  content: "\e901";
}
.icon-none:before {
  content: "\e902";
}
.icon-partying:before {
  content: "\e903";
}
.icon-shopping:before {
  content: "\e904";
}
.icon-sights:before {
  content: "\e905";
}
.icon-eating:before {
  content: "\e906";
}
