$icomoon-font-path: "fonts" !default;

$icon-close: "\e900";
$icon-layers: "\e901";
$icon-none: "\e902";
$icon-partying: "\e903";
$icon-shopping: "\e904";
$icon-sights: "\e905";
$icon-eating: "\e906";

