$color-primary: black !global;
$color-bg: white !global;

$color-yellow: #f7d900 !global;
$color-yellow-alt: #6e6312 !global;
$color-ltgray: #D9D9D9 !global;
$color-red: #f72a2a !global;

$color-avuxi: #54B835;
$color-text: #757575;
$color-text-hover: #555555;
$color-text-light: #959595;